     #header {
	     margin-left: 300px;
	     padding: 5px;
	     width: 800px;
	     height: 150px;
	     background-color: blue;
	     border: 10px solid yellow;

             	     
            } 

     img:hover {
                 border: 5px solid green;     
     
               }

     #text {
            margin-left: 450px;
	    padding: 10px;
	    color: red;
	     
           }	    
     .Bild {
             margin-left: 400px;
	     width: 200px;
	     height: 200px;
	     border: 5px solid black;
           }

     #Bild2 {
             left: 210px;
             top: 0px;
	     position: absolute;
     	    }

     #Bild3 {
             left: 420px;
             top: 0px;
             position: absolute;
            }

     #Bild4 {
             left: 0px;
             top: 210px;
             position: absolute;
            }

     #Bild5 {
             left: 210px;
             top: 210px;
             position: absolute;
            }

     #Bild6 {
             left: 420px;
             top: 210px;
             position: absolute;
            }

     #Bild7 {
             left: 0px;
             top: 420px;
             position: absolute;
            }

     #Bild8 {
             left: 210px;
             top: 420px;
             position: absolute;
            }

     #Bild9 {
             left: 420px;
             top: 420px;
             position: absolute;
            }

     #Bildergalarie {
	     position: relative;
	     width: 600px;
             height: 600px;
	   
                    }


