     header {
	     margin-left: 300px;
	     padding: 5px;
	     width: 800px;
	     height: 150px;
	     background-color: blue;
	     border: 10px solid black;
	   
            } 

     .Bild {
             width: 200px;
	     height: 200px;
	     border: 10px solid black;
           }

     #Bild2 {
             left: 200px;
             top: 0px;
	     position: absolute;
     	    }

     #Bild3 {
             left: 400px;
             top: 0px;
             position: absolute;
            }

     #Bild4 {
             left: 0px;
             top: 200px;
             position: absolute;
            }

     #Bild5 {
             left: 200px;
             top: 200px;
             position: absolute;
            }

     #Bild6 {
             left: 400px;
             top: 200px;
             position: absolute;
            }

     #Bild7 {
             left: 0px;
             top: 400px;
             position: absolute;
            }

     #Bild8 {
             left: 200px;
             top: 400px;
             position: absolute;
            }

     #Bild9 {
             left: 400px;
             top: 400px;
             position: absolute;
            }

     #Bildergalarie {
	     position: relative;
	     width: 600px;
             height: 600px;
	   
                    }


