#vorname {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
    
     
}
#nachname {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
}

#eingabe {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
}

#strasse {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
}

#postleitzahl {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
}

#stadt {
    border: 2px solid black;
    color:mediumvioletred;
    height: 30px;
}

input[type="text"]
{
    font-size:20px;
}
